<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
    
            <updateRate>100.0</updateRate>
            <robotNamespace>/</robotNamespace>
            <!-- Wheel Information -->
            <leftFrontJoint>left_front_wheel_joint</leftFrontJoint>
            <rightFrontJoint>right_front_wheel_joint</rightFrontJoint>
            <leftRearJoint>left_rear_wheel_joint</leftRearJoint>
            <rightRearJoint>right_rear_wheel_joint</rightRearJoint>
    
            <wheelSeparation>0.1</wheelSeparation>
            <wheelDiameter>0.07</wheelDiameter>
            
            <robotBaseFrame>base_link</robotBaseFrame>
            <torque>20</torque>
            
            <odometryFrame>odom</odometryFrame>
            
            <broadcastTF>true</broadcastTF>
    
        </plugin>
    </gazebo>

</robot>